html, body {
  margin: 2;
  padding: 2;
}

body {
  font-family: 'Courier New', sans-serif;
  font-weight: 100;
}

p {
	color: black;
	font-family: 'Courier New', sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.indexbody {
	background-color: #79A9B8;
}